ClienteSOAP/Connected Services/FinanceiroWS/FinanceiroService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCustoTotalPeriodo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dataInicio" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="horaInicio" type="tns:TimeSpan" />
            <s:element minOccurs="1" maxOccurs="1" name="dataFim" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="horaFim" type="tns:TimeSpan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TimeSpan" />
      <s:element name="GetCustoTotalPeriodoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCustoTotalPeriodoResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCustoTotalPeriodoSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustoTotalPeriodo" />
  </wsdl:message>
  <wsdl:message name="GetCustoTotalPeriodoSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustoTotalPeriodoResponse" />
  </wsdl:message>
  <wsdl:portType name="FinanceiroServiceSoap">
    <wsdl:operation name="GetCustoTotalPeriodo">
      <wsdl:input message="tns:GetCustoTotalPeriodoSoapIn" />
      <wsdl:output message="tns:GetCustoTotalPeriodoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FinanceiroServiceSoap" type="tns:FinanceiroServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustoTotalPeriodo">
      <soap:operation soapAction="http://tempuri.org/GetCustoTotalPeriodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FinanceiroServiceSoap12" type="tns:FinanceiroServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustoTotalPeriodo">
      <soap12:operation soapAction="http://tempuri.org/GetCustoTotalPeriodo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FinanceiroService">
    <wsdl:port name="FinanceiroServiceSoap" binding="tns:FinanceiroServiceSoap">
      <soap:address location="http://localhost:52661/FinanceiroService.asmx" />
    </wsdl:port>
    <wsdl:port name="FinanceiroServiceSoap12" binding="tns:FinanceiroServiceSoap12">
      <soap12:address location="http://localhost:52661/FinanceiroService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>